<% Meeting::PROGRAM_MEMBER_TITLES.each do |attribute, display_name| %>
  <%= turbo_frame_tag dom_id(@meeting, "contributors_#{attribute}") do %>
    <% form_with model: @meeting, url: update_contributors_meeting_path(@meeting) do |form| %>
      <div class="row">
        <div class="col-12 col-md-4 pt-md-2">
          <h6><%= display_name %></h6>
        </div>
        <div class="col-12 col-md-6 pt-md-2" data-controller="clipboard">
          <h6>
            <span>
              <%= form.text_field attribute,
                                  list: "speaker_name_autocomplete",
                                  class: "form-control",
                                  placeholder: "Last, First",
                                  autofocus: true %>
            </span>
          </h6>
        </div>
        <datalist id="speaker_name_autocomplete">
          <% @meeting.unit_members.alphabetized.each do |member| %>
            <option value="<%= member.name %>">
          <% end %>
        </datalist>
      </div>
      <hr/>
    <% end %>
  <% end %>
<% end %>
