<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= @meeting.meeting_type.humanize %></strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= l(@meeting.date, format: :rfc822) %></h5>
  </div>
</div>

<hr/>

<%= turbo_frame_tag dom_id(@meeting) do %>
  <%= render "meeting", meeting: @meeting %>
<% end %>
