<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Notifications</strong></h2>
  </div>
</div>
<hr/>

<% @notifications.each do |notification| %>
  <div class="card">
    <div class="card-body">
      <h6><strong><%= notification.to_notification.message %></strong></h6>
      <h6><%= "#{notification.to_notification.params[:user].name} (#{notification.to_notification.params[:user].email})" %></h6>
    </div>
    <div class="card-footer">
      <span class="small text-muted"><%= "#{time_ago_in_words(notification.created_at)} ago" %></span>
    </div>
  </div>
  <br/>
<% end %>
