<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= "#{@talk.speaker_name} on #{l(@talk.date, format: :rfc822)}" %></strong></h2>
  </div>
</div>

<hr/>

<%= turbo_frame_tag "meeting_#{@talk.meeting.id}_talk_#{@talk.id}" do %>
  <%= render "talk", talk: @talk %>
<% end %>
