<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= "#{@talk.speaker_name} on #{l(@talk.date, format: :rfc822)}" %></strong></h2>
  </div>
</div>

<hr/>

<%= turbo_frame_tag dom_id(@talk) do %>
  <%= render "talk", talk: @talk %>
<% end %>
