<div class="row">
  <div class="col-md">
    <h3 class="mt-md-4 mt-2"><strong>Me</strong></h3>
  </div>
</div>

<hr/>
<br/>

<article>
  <div id="current_user">
    <%= render partial: "user", locals: { user: current_user } %>
  </div>
</article>

<% if @users.exists? %>
  <br/>
  <div class="row">
    <div class="col-md">
      <h3 class="mt-md-4 mt-2"><strong>Other Users</strong></h3>
    </div>
  </div>

  <hr/>
  <br/>

  <article>
    <div id="users">
      <%= render partial: "user", collection: @users %>
    </div>
  </article>
<% end %>

<% if current_user.approver? && @access_requests.exists? %>
  <br/>
  <div class="row">
    <div class="col-md">
      <h3 class="mt-md-4 mt-2"><strong>Access Requests</strong></h3>
    </div>
  </div>

  <hr/>
  <br/>

  <article>
    <div id="access_requests">
      <%= render partial: "access_requests/access_request", collection: @access_requests %>
    </div>
  </article>
<% end %>
