@import "dropzone/src/dropzone.scss";
@import "dropzone/src/basic.scss";

.dropzone {
  border: dashed #888888;
  border-radius: 20px;

  &.dz-drag-hover {
    border: dashed #BBBBBB;

    .dz-message {
      opacity: 0.9;
    }
  }
}

.dropzone .dz-preview .dz-error-message {
  top: 150px;
}
