.form-group.required label:after, .form-row.required label:after {
    content: " *";
    color: $danger;
}

label.required:after {
	content: ' *';
	color: $blue;
}

label {
  text-transform: uppercase;
  font-size: smaller;
  color: $gray-600;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
