<%# locals: (pagy:) %>

<div id="pager" class="row mt-2">
  <div class="col text-center">
    <% if pagy.next %>
      <%= link_to "Show More",
                  request.params.merge(page: pagy.next),
                  data: {
                    turbo_stream: true,
                    controller: "autoclick",
                  } %>
    <% else %>
      <p>End of List</p>
    <% end %>
  </div>
</div>
