<% if user_assigned_to_unit? %>
  <div class="row">
    <div class="col-md">
      <h2 class="mt-md-4 mt-2 text-center"><strong><%= current_user.unit_name %></strong></h2>
    </div>
  </div>
<% elsif user_needs_onboarding? %>
  <div class="row">
    <h5 class="mt-md-4 mt-2 text-center">
      <strong>Looks like you aren't yet assigned to a Ward unit. Let's take care of that now.</strong>
    </h5>
  </div>
  <br/>
  <div class="text-center">
    <%= link_to "Assign my Ward Unit", onboard_path, class: "btn btn-lg btn-primary" %>
  </div>
  <br/>
<% elsif user_signed_in? %>
  <div class="row">
    <h5 class="mt-md-4 mt-2 text-center">
      <strong><%= t("views.home.index.access_pending", unit_name: current_user.pending_unit.name) %></strong>
    </h5>
  </div>
  <br/>
<% end %>
<hr class="hr-text">
<p class="blockquote text-center">
  "Appoint among yourselves a teacher,<br/>
  and let not all be spokesmen at once;<br/>
  but let one speak at a time<br/>
  and let all listen unto his sayings,<br/>
  that when all have spoken<br/>
  that all may be edified of all,<br/>
  and that every man may have an equal privilege."
</p>
<br/>
<p class="blockquote-footer text-center">Doctrine and Covenants 88:122</p>
<hr class="hr-text">
