<% if user_assigned_to_unit? %>
  <h2 class="text-center"><%= current_user.unit_name %></h2>
<% end %>
<hr class="hr-text">
<p class="blockquote text-center">
  "Appoint among yourselves a teacher,<br/>
  and let not all be spokesmen at once;<br/>
  but let one speak at a time<br/>
  and let all listen unto his sayings,<br/>
  that when all have spoken<br/>
  that all may be edified of all,<br/>
  and that every man may have an equal privilege."
</p>
<br/>
<p class="blockquote-footer text-center">Doctrine and Covenants 88:122</p>
<hr class="hr-text">
