<%# locals: (song:) -%>

<% duration_since_previously_sung = song.duration_since_previously_sung %>

<div id="song-last-sung-message">
  <% if song.title? %>
    <label>
      <% if duration_since_previously_sung.nil? %>
        <span>
          No record of this song found before this meeting
        </span>
      <% elsif duration_since_previously_sung < 28.days %>
        <span class="text-danger">
          <%= "NOTE: Previously sung #{distance_of_time_in_words(duration_since_previously_sung)} before this meeting" %>
        </span>
      <% else %>
        <span>
          <%= "Previously sung #{distance_of_time_in_words(duration_since_previously_sung)} before this meeting" %>
        </span>
      <% end %>
    </label>
  <% end %>
</div>
