<div class="row">
  <div class="col-sm-6">
    <h1>Import Jobs</h1>
  </div>
</div>

<%= turbo_stream_from @user %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th class="text-center">Row Count</th>
      <th class="text-center">Good/Bad</th>
      <th class="text-center">Elapsed Time</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody id="import_jobs">
    <%= render partial: "import_job", collection: @user.import_jobs.most_recent_first %>
    </tbody>
  </table>
</div>
