<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Set Up A New Ward</strong></h2>
  </div>
</div>

<hr/>
<br/>

<article>
  <%= render "units/form", unit: @unit %>
</article>
