<%= turbo_frame_tag dom_id(member) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="font-weight-bold"><%= member.name %></h5>
        </div>
        <div class="col">
          <h6 class="text-end"><%= member.bio %></h6>
          <h6 class="text-end"><span class="badge bg-secondary"><%= member.last_talk_date %></span></h6>
        </div>
      </div>
    </div>
  </div>
<% end %>
