<div id="sort_and_filter_dropdowns">
  <%= sort_members_dropdown(request.params, q, label: "Sort") %>
  <%= filter_members_age_dropdown(request.params, label: "Ages") %>
  <%= filter_members_gender_dropdown(request.params, label: "Genders") %>
</div>
