<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Assign My Ward Unit</strong></h2>
  </div>
</div>

<hr/>
<br/>

<div class="d-grid gap-3 col-12 col-md-6 mx-auto">
  <%= link_to "My ward already uses Edify", onboard_request_access_path, class: "btn btn-lg btn-primary" %>
  <hr/>
  <%= link_to "I need to set up my ward", onboard_new_ward_path, class: "btn btn-lg btn-primary" %>
</div>
